Connected Services/ConnectService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MessageService.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MessageService.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlayerServer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerServer" nillable="true" type="tns:PlayerServer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerServer" nillable="true" type="tns:ArrayOfPlayerServer" />
  <xs:complexType name="PlayerServer">
    <xs:sequence>
      <xs:element minOccurs="0" name="chatCallback" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gameCallback" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matchCallBack" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:boolean" />
      <xs:element minOccurs="0" name="userCallBack" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerServer" nillable="true" type="tns:PlayerServer" />
  <xs:complexType name="FriendServer">
    <xs:sequence>
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gameFriend" type="xs:int" />
      <xs:element minOccurs="0" name="idFriend" type="xs:int" />
      <xs:element minOccurs="0" name="ownerPlayer" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendServer" nillable="true" type="tns:FriendServer" />
  <xs:complexType name="MessageServer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageServer" nillable="true" type="tns:MessageServer" />
  <xs:complexType name="MatchServer">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMatch" type="xs:int" />
      <xs:element minOccurs="0" name="inviteCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="playerWinner" type="xs:int" />
      <xs:element minOccurs="0" name="players" nillable="true" type="tns:ArrayOfPlayerServer" />
      <xs:element minOccurs="0" name="scorePlayerOne" type="xs:int" />
      <xs:element minOccurs="0" name="scorePlayerTwo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchServer" nillable="true" type="tns:MatchServer" />
  <xs:complexType name="AnswerServer">
    <xs:sequence>
      <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAnswer" type="xs:int" />
      <xs:element minOccurs="0" name="place" type="xs:int" />
      <xs:element minOccurs="0" name="score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerServer" nillable="true" type="tns:AnswerServer" />
  <xs:complexType name="QuestionServer">
    <xs:sequence>
      <xs:element minOccurs="0" name="answers" nillable="true" type="tns:ArrayOfAnswerServer" />
      <xs:element minOccurs="0" name="idQuestion" type="xs:int" />
      <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="questionClass" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionServer" nillable="true" type="tns:QuestionServer" />
  <xs:complexType name="ArrayOfAnswerServer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnswerServer" nillable="true" type="tns:AnswerServer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnswerServer" nillable="true" type="tns:ArrayOfAnswerServer" />
</xs:schema>