Connected Services/ConnectService/ManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUserManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IChatService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IMatchService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IGameService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessageService.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserManager_AddPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayer" />
  </wsdl:message>
  <wsdl:message name="IUserManager_AddPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_ValidatePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePlayer" />
  </wsdl:message>
  <wsdl:message name="IUserManager_ValidatePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_ValidateEmailPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateEmailPlayer" />
  </wsdl:message>
  <wsdl:message name="IUserManager_ValidateEmailPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateEmailPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_ValidateUserNamePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserNamePlayer" />
  </wsdl:message>
  <wsdl:message name="IUserManager_ValidateUserNamePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserNamePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_UpdatePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayer" />
  </wsdl:message>
  <wsdl:message name="IUserManager_UpdatePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_SearchPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPlayer" />
  </wsdl:message>
  <wsdl:message name="IUserManager_SearchPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_GetFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriend" />
  </wsdl:message>
  <wsdl:message name="IUserManager_GetFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IChatService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IChatService_Say_InputMessage">
    <wsdl:part name="parameters" element="tns:Say" />
  </wsdl:message>
  <wsdl:message name="IChatService_Whisper_InputMessage">
    <wsdl:part name="parameters" element="tns:Whisper" />
  </wsdl:message>
  <wsdl:message name="IChatService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IChatService_RefreshClients_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RefreshClients" />
  </wsdl:message>
  <wsdl:message name="IChatService_Receive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Receive" />
  </wsdl:message>
  <wsdl:message name="IChatService_ReceiveWhisper_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveWhisper" />
  </wsdl:message>
  <wsdl:message name="IChatService_UserJoin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserJoin" />
  </wsdl:message>
  <wsdl:message name="IChatService_UserLeave_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserLeave" />
  </wsdl:message>
  <wsdl:message name="IMatchService_StartLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:StartLobby" />
  </wsdl:message>
  <wsdl:message name="IMatchService_StartLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_CreatetMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatetMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchService_CreatetMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatetMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_DisconnectFromMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectFromMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchService_DisconnectFromMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectFromMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_ConnectToMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchService_ConnectToMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnswer" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestion" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestions" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetAnswers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnswers" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetAnswers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnswersResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_addPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:addPoints" />
  </wsdl:message>
  <wsdl:message name="IGameService_addPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPointsResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_UpdateBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBoard" />
  </wsdl:message>
  <wsdl:message name="IGameService_UpdateBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBoardResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_UpdateStrikes_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStrikes" />
  </wsdl:message>
  <wsdl:message name="IGameService_UpdateStrikes_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStrikesResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserManager">
    <wsdl:operation name="AddPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/AddPlayer" message="tns:IUserManager_AddPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/AddPlayerResponse" message="tns:IUserManager_AddPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/ValidatePlayer" message="tns:IUserManager_ValidatePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/ValidatePlayerResponse" message="tns:IUserManager_ValidatePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/ValidateEmailPlayer" message="tns:IUserManager_ValidateEmailPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/ValidateEmailPlayerResponse" message="tns:IUserManager_ValidateEmailPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUserNamePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/ValidateUserNamePlayer" message="tns:IUserManager_ValidateUserNamePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/ValidateUserNamePlayerResponse" message="tns:IUserManager_ValidateUserNamePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/UpdatePlayer" message="tns:IUserManager_UpdatePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/UpdatePlayerResponse" message="tns:IUserManager_UpdatePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/SearchPlayer" message="tns:IUserManager_SearchPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/SearchPlayerResponse" message="tns:IUserManager_SearchPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/GetFriend" message="tns:IUserManager_GetFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/GetFriendResponse" message="tns:IUserManager_GetFriend_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="true" name="IChatService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatService/Connect" message="tns:IChatService_Connect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Say">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatService/Say" message="tns:IChatService_Say_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Whisper">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatService/Whisper" message="tns:IChatService_Whisper_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatService/Disconnect" message="tns:IChatService_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RefreshClients">
      <wsdl:output wsaw:Action="http://tempuri.org/IChatService/RefreshClients" message="tns:IChatService_RefreshClients_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Receive">
      <wsdl:output wsaw:Action="http://tempuri.org/IChatService/Receive" message="tns:IChatService_Receive_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveWhisper">
      <wsdl:output wsaw:Action="http://tempuri.org/IChatService/ReceiveWhisper" message="tns:IChatService_ReceiveWhisper_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserJoin">
      <wsdl:output wsaw:Action="http://tempuri.org/IChatService/UserJoin" message="tns:IChatService_UserJoin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserLeave">
      <wsdl:output wsaw:Action="http://tempuri.org/IChatService/UserLeave" message="tns:IChatService_UserLeave_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMatchService">
    <wsdl:operation name="StartLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/StartLobby" message="tns:IMatchService_StartLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/StartLobbyResponse" message="tns:IMatchService_StartLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatetMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/CreatetMatch" message="tns:IMatchService_CreatetMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/CreatetMatchResponse" message="tns:IMatchService_CreatetMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectFromMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/DisconnectFromMatch" message="tns:IMatchService_DisconnectFromMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/DisconnectFromMatchResponse" message="tns:IMatchService_DisconnectFromMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectToMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/ConnectToMatch" message="tns:IMatchService_ConnectToMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/ConnectToMatchResponse" message="tns:IMatchService_ConnectToMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/GetAnswer" message="tns:IMatchService_GetAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/GetAnswerResponse" message="tns:IMatchService_GetAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/GetQuestion" message="tns:IMatchService_GetQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/GetQuestionResponse" message="tns:IMatchService_GetQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/GetMatch" message="tns:IMatchService_GetMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/GetMatchResponse" message="tns:IMatchService_GetMatch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGameService">
    <wsdl:operation name="GetQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/GetQuestions" message="tns:IGameService_GetQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/GetQuestionsResponse" message="tns:IGameService_GetQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnswers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/GetAnswers" message="tns:IGameService_GetAnswers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/GetAnswersResponse" message="tns:IGameService_GetAnswers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/addPoints" message="tns:IGameService_addPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/addPointsResponse" message="tns:IGameService_addPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/UpdateBoard" message="tns:IGameService_UpdateBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/UpdateBoardResponse" message="tns:IGameService_UpdateBoard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStrikes">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/UpdateStrikes" message="tns:IGameService_UpdateStrikes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/UpdateStrikesResponse" message="tns:IGameService_UpdateStrikes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUserManager" type="tns:IUserManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IUserManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddPlayer">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/AddPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePlayer">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/ValidatePlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailPlayer">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/ValidateEmailPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUserNamePlayer">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/ValidateUserNamePlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/UpdatePlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPlayer">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/SearchPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriend">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/GetFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IChatService" type="tns:IChatService">
    <wsp:PolicyReference URI="#NetTcpBinding_IChatService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IChatService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Say">
      <soap12:operation soapAction="http://tempuri.org/IChatService/Say" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Whisper">
      <soap12:operation soapAction="http://tempuri.org/IChatService/Whisper" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IChatService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RefreshClients">
      <soap12:operation soapAction="http://tempuri.org/IChatService/RefreshClients" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Receive">
      <soap12:operation soapAction="http://tempuri.org/IChatService/Receive" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveWhisper">
      <soap12:operation soapAction="http://tempuri.org/IChatService/ReceiveWhisper" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserJoin">
      <soap12:operation soapAction="http://tempuri.org/IChatService/UserJoin" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLeave">
      <soap12:operation soapAction="http://tempuri.org/IChatService/UserLeave" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IMatchService" type="tns:IMatchService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMatchService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="StartLobby">
      <soap12:operation soapAction="http://tempuri.org/IMatchService/StartLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatetMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchService/CreatetMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisconnectFromMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchService/DisconnectFromMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchService/ConnectToMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnswer">
      <soap12:operation soapAction="http://tempuri.org/IMatchService/GetAnswer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestion">
      <soap12:operation soapAction="http://tempuri.org/IMatchService/GetQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchService/GetMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IGameService" type="tns:IGameService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetQuestions">
      <soap12:operation soapAction="http://tempuri.org/IGameService/GetQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnswers">
      <soap12:operation soapAction="http://tempuri.org/IGameService/GetAnswers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPoints">
      <soap12:operation soapAction="http://tempuri.org/IGameService/addPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBoard">
      <soap12:operation soapAction="http://tempuri.org/IGameService/UpdateBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStrikes">
      <soap12:operation soapAction="http://tempuri.org/IGameService/UpdateStrikes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagerService">
    <wsdl:port name="NetTcpBinding_IUserManager" binding="tns:NetTcpBinding_IUserManager">
      <soap12:address location="net.tcp://localhost:8081/MessageService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/MessageService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-F2DQ5DU\Eduar</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IChatService" binding="tns:NetTcpBinding_IChatService">
      <soap12:address location="net.tcp://localhost:8081/MessageService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/MessageService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-F2DQ5DU\Eduar</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IMatchService" binding="tns:NetTcpBinding_IMatchService">
      <soap12:address location="net.tcp://localhost:8081/MessageService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/MessageService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-F2DQ5DU\Eduar</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IGameService" binding="tns:NetTcpBinding_IGameService">
      <soap12:address location="net.tcp://localhost:8081/MessageService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/MessageService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-F2DQ5DU\Eduar</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>